<% url_depart = 'http://localhost:3000/notopochi/depart' # TODO:暫定値 %>
<% user_name ='能登が大好きなウルトラマンさん' # TODO:暫定値 %>

<section>
	<header data-role="header">
		<h1>のとぽち</h1>
	</header>
</section>
<article id="page-departure-content">
	<form id="form-departure" action="<%= url_depart %>">
		<fieldset>
			<legend>こんにちは！<b><%= user_name %></b> さん</legend><br>
			<legend>出発地と到着地を設定してください。</legend><br>
			<font color="red">不正な入力です。</font><br><br>
			<label for="tech-select">出発地</label>
			<select id="tech-select" name="tech">
			<!-- オープンデータから取得した到着地 --><!-- TODO:現状、適当に書いとく -->
				<option value="kanazawa-station">金沢駅</option>
				<option value="anamizu-station">穴水駅</option>
			</select>
			<label for="tech-select">到着地</label>
			<select id="tech-select" name="tech">
				<!-- 到着地は、自動入力、または履歴から選択できるようにする --><!-- TODO:現状、選択のみ -->
				<option value="ramp-inn">ランプの宿</option>
				<option value="kiriko">キリコ会館</option>
			</select><br><br>
			<input id="btn-depart" type="submit" value="開始する" /><br>
		</fieldset>
	</form>
</article>
