<section>
	<header data-role="header">
		<h1>のとぽち</h1>
	</header>
	<article id="page-login-content" data-role="content">
		<form id="form-login" method="GET" action="#" data-ajax=“false”>
			<fieldset>
				<legend>ログイン</legend><br>
				<font color="red">ユーザーIDとパスワードが一致しません。</font><br><br>
				<input name="user" type="text" value="" placeholder="ユーザーID" />
				<input name="pass" type="password" value="" placeholder="パスワード" />
				<input id="btn-login" type="submit" value="ログイン" /><br><br>
				<input id="btn-newentry" type="submit" value="新規ユーザー登録" />
			</fieldset>
		</form>
	</article>
</section>
