article{
	background-color: #FFFFF0;
}

h3#title{
	color : #5C4033;
}

p#description{
	position: relative;
	text-align: center;
	padding: 20px;
	color: #5C4033;
}

p#textBoxTitle{
	color: #5C4033;
}

button#btn_login{
	color: #8B0000
}