article{
	background-color: #FFFFF0;
	font-family: "ヒラギノ丸ゴ ProN","Hiragino Maru Gothic ProN","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
}

h3#title{
	color : #5C4033;
}

p#description{
	position: relative;
	text-align: center;
	padding: 20px;
	color: #5C4033;
}

text#textBoxTitle{
	color: #5C4033;
}

button#btn_login{
	color: #8B0000;
}

button#btn_notopochi{
	background-color: #998676;
	color: #FFFFFF;
}

img#img_notobus{
	display:block;
	margin:0 auto;
}